<mat-card>
  <mat-grid-list cols="2">
    <mat-grid-tile>
      <div class="izquierda">

        <img *ngFor="let foto of producto.fotos; let i = index" (mouseenter)="seleccionarImagen(i)"
             class="imagen-izquierda"
             [class.seleccionada]="i==indiceSeleccionado"
             [src]="resolverFoto(foto.foto)" alt="Foto">
      </div>
      <div>
        <img *ngIf="fotoSeleccionada" [src]="resolverFoto(fotoSeleccionada)" alt="">
      </div>
      <br>
    </mat-grid-tile>
    <mat-grid-tile class="detalles">
      <h1 class="mat-display-2">{{producto.nombre}}</h1>
      <p>{{producto.descripcion}}</p>
      <strong>Precio</strong>
      <h1 class="mat-display-2">{{producto.precio | currency}}</h1>
      <mat-chip-list *ngIf="yaExiste">
        <mat-chip color="primary" selected>
          <mat-icon>check</mat-icon>
          En el carrito de compras
        </mat-chip>
      </mat-chip-list>
      <button *ngIf="!yaExiste" (click)="agregarAlCarrito()" class="carrito" mat-raised-button color="primary">

        <mat-icon>add</mat-icon>
        Agregar al carrito
      </button>
      <button *ngIf="yaExiste" (click)="quitarDelCarrito()" class="carrito" mat-raised-button color="primary">
        <mat-icon>delete</mat-icon>
        Quitar del carrito
      </button>
      <a routerLink="/tienda" class="comprar" mat-raised-button color="primary">
        Seguir comprando
      </a>
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>
